body {
    padding: 10px;
}

div {
    margin: 10px;
}

label, select, button{
    margin: 10px;
}

select {
    padding: 2px;
}

#results {
    padding: 10px;
}

#double {
    font-weight: bold;
    color: #4d1979;
}