body {
    padding: 10px;
    background-color: rgb(246, 246, 246);    
}

/* div {
    margin: 10px;
} */

#head {
    width: 300px;
}

#typeselect, #label, #button #selectbox {
    width: 300px;
    text-align: center;    
}

#selectbox {
    display: flex;
    justify-content: center;
}

#select1 {
    padding-right: 10px;
}

#select2 {
    padding-left: 10px;
}

h1 {
    text-align: center;
}

#main {
    height: 500px;
    width: 300px;
    position: relative;
}

#pokeball {
    position: absolute;
    bottom: 0px;
    right: 0px;
}

label, select, button{
    margin: 10px;
}

select {
    padding: 2px;
}

#results {
    padding: 10px;
}

#double {
    font-weight: bold;
    color: #4d1979;
}